* {
  box-sizing: border-box;
}

.nav {
  background-color: #d9d9d9;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 100px auto;
  /* border: 2px solid #000; */
}

.search-kepo-wrapper {
  padding: 20px 0;
}

.search-kepo-wrapper input {
  width: 100%;
  max-width: 800px;
  border: none;
  height: 50px;
  padding: 0 30px;
  border-radius: 5px;
}

.question-form-wrapper {
  background-color: #d9d9d9;
  padding: 30px;
}

.question-form-wrapper-toggle {
  display: none;
}

#question-form input,
#question-form textarea {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 20px 0;
}

#question-form input {
  border: none;
  height: 50px;
  border-radius: 5px;
  padding: 0 30px;
}

#question-form textarea {
  border: none;
  height: 100px;
  border-radius: 5px;
  padding: 20px;
}

#submit {
  font-size: 1.5rem;
}

#submit:hover {
  cursor: pointer;
}

.question-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.filter-wrapper p {
  display: inline-block;
  margin-right: 20px;
  padding: 10px 0;
}

.line {
  border: 2px solid #000;
}

.question-item {
  background-color: #d9d9d9;
}

.question-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.question-item {
  margin: 20px 0;
  padding: 30px;
  border-radius: 5px;
}

.question-top h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
